In [1]:
import pandas as pd

In [8]:
import os
import pandas as pd
from pathlib import Path

# Definir la ruta de la carpeta en el escritorio
desktop = Path.home() / "Desktop"
folder = desktop / "reportes37"  # Reemplaza con el nombre de tu carpeta

# Lista para almacenar todos los dataframes
all_dataframes = []

# Iterar sobre todos los archivos xlsx en la carpeta
for file in folder.glob('*.xlsx'):
    # Leer el archivo Excel
    df = pd.read_excel(file)
    # Añadir el dataframe a la lista
    all_dataframes.append(df)

# # Combinar todos los dataframes
# combined_df = pd.concat(all_dataframes, ignore_index=True)

# # Guardar el resultado en un nuevo archivo Excel
# output_file = desktop / "Informe_Combinado.xlsx"
# combined_df.to_excel(output_file, index=False)

# print(f"Informe combinado guardado en: {output_file}")

In [12]:
all_dataframes[0]

,Cedula,Nombres,Dias Mora,agrupacion,Vlr. Cuota Vencida,Intereses de Mora,Gastos de Cobranza,Total Mora,MORA + HONORARIOS,Celular,Cupo
0,416993,Mario Alejandro,27,16-30,86932.97,1405.14,3749.276475,9.208739e+04,9.208739e+04,3117587442,1600000
1,521570,Mauricio Alfredo Alfredo,58,31-120,538144.44,13974.33,29997.630075,5.821164e+05,5.821164e+05,3205987603,1500000
2,582095,Yelizmar Mercedes,43,31-120,236417.09,3099.09,6629.347200,2.461455e+05,2.461455e+05,3226497161,1200000
3,629770,Dayana Coromoto,149,121-210,173487.16,13704.21,23010.527939,2.102019e+05,2.522423e+05,3184797874,400000
4,644622,Juan Manuel,43,31-120,413525.14,8970.69,21007.310856,4.435031e+05,4.435031e+05,3104043140,1200000
...,...,...,...,...,...,...,...,...,...,...,...
14967,1238344570,Mirangella Jinnett,757,>310,294261.19,8812.92,72096.032904,3.751701e+05,4.502042e+05,3023290895,1
14968,1243139646,Jhoiber Armando,561,>310,283758.92,93071.59,71885.520000,4.487160e+05,5.384592e+05,3014188570,1
14969,1243139989,Breintner Humberto,561,>310,819324.13,224400.13,180242.917792,1.223967e+06,1.468761e+06,3504170341,1
14970,2000001098,Ricardo Jose,773,>310,578822.77,17455.15,142800.000000,7.390779e+05,8.868935e+05,3108314420,1
14971,5041059641,Alexander Antonio,58,31-120,260386.44,8241.89,16639.407645,2.852677e+05,2.852677e+05,3142632834,600000

:

In [3]:
combined_df

,Cedula,Nombres,Dias Mora,agrupacion,Vlr. Cuota Vencida,Intereses de Mora,Gastos de Cobranza,Total Mora,MORA + HONORARIOS,Celular,Cupo,Dirección,Barrio,Ciudad,Tel. Fijo,Unnamed: 0,Unnamed: 1,Unnamed: 2
0,416993,Mario Alejandro,27.0,16-30,86932.97,1405.14,3749.276475,92087.386475,92087.386475,3.117587e+09,1600000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,521570,Mauricio Alfredo Alfredo,58.0,31-120,538144.44,13974.33,29997.630075,582116.400075,582116.400075,3.205988e+09,1500000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,582095,Yelizmar Mercedes,43.0,31-120,236417.09,3099.09,6629.347200,246145.527200,246145.527200,3.226497e+09,1200000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,629770,Dayana Coromoto,149.0,121-210,173487.16,13704.21,23010.527939,210201.897939,252242.277527,3.184798e+09,400000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,644622,Juan Manuel,43.0,31-120,413525.14,8970.69,21007.310856,443503.140856,443503.140856,3.104043e+09,1200000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138898,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31-120,2222,814207500.660714
138899,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,121-210,1328,987795386.74459
138900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,211-310,1218,1378743914.342358
138901,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,>310,8325,8261751878.310153
138902,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Total general,15475,11735543217.928152